<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/pushstate-anchor/src/pushstate-anchor.html">

<polymer-element name="sidebar-layout" attributes="selected" noscript>
	<template>
	<script>console.log("fuck");</script>
		<paper-toolbar id="nav-bar">
				<div class="title" id="nav-title"></div>
				<paper-tabs selected="0">
						<paper-tab is="pushstate-anchor" href="/">Home</paper-tab>
						<paper-tab is="pushstate-anchor" href="/about">About</paper-tab>
				</paper-tabs>
		</paper-toolbar>
	</template>
</polymer-element>

