@import "_libs";
@import "_vars";

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

.no-select{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:pointer;
}

body {
    margin: 0;
    padding: 0;
    background-color: $foreground;
    width: 100%;
    height: 100%;
    font-family: "Roboto";
    font-weight: 400;
    font-size:16px;
    color:$gray;
    font-family:"roboto", "sans-serif";
    overflow:hidden;
}

#nav-bar{
    background-color:$foreground;
    color:$dark-gray;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.09);
}

#nav-title{
    margin-left:0;
}

#home-title{
    font-size:1.75em;
    font-weight:900;
}

#container {
    width: 100%;
    height: 100vh;
    overflow: scroll;
}

.section {
    min-height: 70%;
    width: 100%;
    color: $dark-gray;
    display: flex;
    font-family: "roboto";
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.layer{
    position:relative !important;
    display:inline-block !important;
}

#main-title{
    font-size:5em;
    font-weight:900;
}

#main-sub-title{
    font-size:2em;
    font-style:italic;
    font-weight:300;
    width:50%;
}

.layer {
    opacity: .92;
}

ul {
    list-style-type: none;
    list-style: none;
}

li {
    list-style-type: none;
    list-style: none;
}

.half-section {
    height: 50%;
    width: 100%;
}

.quater-section {
    height: 25%;
    width: 100%;
}

#home{
    background-color: $foreground;
    flex-direction:row;
    height:100%;
    width:100%;
}

#content-scene{
    display:flex;
    justify-content: center;
    align-items:center;
    text-align:center;
    flex-direction:column;
    width:50%;
}

#main-scene{
    display:flex;
    justify-content: center;
    align-items:center;
    text-align:center;
    flex-direction:column;
    margin: 0;
    padding: 0;
}

#main-button-container{
    display:flex;
    justify-content: center;
    align-items:center;
    margin:2%;
}

.main-button{
    width:50%;
    font-size:1.2em;
    background-color:$red;
    color:#fff;
    margin:2%;
}

.quater-section{
    height:25%;
}


#content{
    background-color:$red;
}

#about{
    background-color:$foreground;
}

#events{
    background-color:$red;
    min-height:90%;
}

#footer {
    background-color: $red;
}